@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;
}

.content-home {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 20px 0px 20px;
}

#lock-icon {
    width: 50px;
    height: 50px;
}

#title1 {
    color: #213555;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 3px;
    font-size: 30px;
    padding: 0 15px 0 15px;
}

#containers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    margin: 10px 20px 10px 20px;
}

#encriptar-texto {
    color: #213555;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #EEEEEE;
    font-size: 1.2em;
    font-family: "Roboto Condensed", sans-serif;
}

#encriptar-texto:focus {
    outline: none;
}

#txt-desencriptado {
    color: #213555;
    box-sizing: border-box;
    padding: 10px;
    background-color: #EEEEEE;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: "Roboto Condensed", sans-serif;
}

#container1 {
    grid-column: 1/2;
    margin: 5px auto;
}

#msg-alerta {
    display: flex;
    align-items: center;
    margin: 3px 0 3px 0;
}

#alerta-icon {
    width: 15px;
    height: 15px;
    padding: 0 5px 0 5px;
}

#alerta {
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    color: #213555;
}

#botones {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-x, #btn-copiar {
    color: #213555;
    font-size: 20px;
    font-family: "Bebas Neue", cursive;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    border: 2px #213555 solid;
}

#btn-encriptar {
    background-color: #213555;
    color: #EEEEEE;
    transition: 0.4s;
}

#btn-encriptar:hover {
    background-color: #EEEEEE;
    color: #213555;
}

#btn-desencriptar, #btn-copiar {
    transition: 0.4s;
}

#btn-desencriptar:hover, #btn-copiar:hover {
    background-color: #213555;
    color: #EEEEEE;
}

#container2 {
    grid-column: 2/3;
    margin: 5px auto;
}

.txt-encriptados {
    width: 650px;
    height: 400px;
    resize: none;
}

#copiar {
    text-align: center;
    margin-top: 55px;
}

footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.1em;
    color: #213555;
}

.links {
    color: #213555;
    text-decoration: none;
}

@media screen and (max-width:1024px){
    header {
        margin: 0px 0px 1rem 0;
        justify-content: center;
    }

    #containers {
        display: block;
    }

    .txt-encriptados {
        width: 85%;
        height: 350px;
    }

    #container1, #container2{
        margin: 1.5rem 0;
    }

    #encriptar-texto, #txt-desencriptado{
        display: block;
        margin: auto;
    }

    #msg-alerta {
        justify-content: center;
    }

    #botones {
        justify-content: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 640px) {
    #title1 {
        font-size: 1.2em;
    }

    #lock-icon {
        display: none;
        width: 15%;
        height: 15%;
    }
}



